<footer class="brown darken-2 page-footer">
    <div class="container">
        <div class="row">
            <h5 class="white-text">Links</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.ebay.com/str/bigjoesteck">My ebay Store</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Developed By: George Kochera
        </div>
    </div>
</footer>