<header>
    <div class="navbar-fixed">
        <nav id="navbar">
            <div class="nav-wrapper golden-wheat">
                <ul class="right hide-on-med-and-down deep-gray-text">
                    <a href="/" class="brand-logo left deep-gray-text">Big Joe's Baseball Gloves</a>
                    <li><a class="deep-gray-text" href="/about">About Us</a></li>
                    <li><a class="deep-gray-text" href="/contact">Contact Us</a></li>
                    <li><a class="deep-gray-text" href="/inventory">Inventory</a></li>
                </ul>
                 
                        <div class="left small-brand-logo show-on-small show-on-medium hide-on-large-only">
                        <img src='./img/navbar_logo_minimized.svg'/>
                        </div>
                <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="material-icons deep-gray-text">menu</i></a>
            </div>
        </nav>
    </div>

    <ul id="slide-out" class="sidenav deep-gray-text">
        <li><div>Big Joe's Baseball Gloves</div></li>
        <li><div class="divider"></div></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/inventory">Inventory</a></li>
    </ul>
</header>