<header>
    <div class="navbar-fixed">
        <nav id="navbar">
            <div class="nav-wrapper brown darken-2">
                <ul class="left hide-on-med-and-down">
                    <a href="/" class="brand-logo right">Big Joe's Baseball Gloves</a>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/inventory">Inventory</a></li>
                </ul>
                <a href="#" data-target="slide-out" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>

    <ul id="slide-out" class="sidenav">
        <li><div><span>Big Joe's Baseball Gloves</span></div></li>
        <li><div class="divider"></div></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/data">See The Data</a></li>
    </ul>
</header>