<!DOCTYPE html>
<html>
    <head>
        <title>Big Joe's Baseball Gloves</title>
        <!--Import Materialize CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
        <!--Import Custom Style SHeet-->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <!-- Required Core Stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/glide.core.min.css">
        <!-- Optional Theme Stylesheet -->
        <link rel="stylesheet" type="text/css" href="css/glide.theme.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    </head>
    <body class="soft-wheat">
        {{> header}}
        <main>
            {{#if carouselOn}}
            {{> carousel}}
            {{/if}}
            {{{body}}}
        </main>
        {{> footer}}
        

    <script src="https://unpkg.com/@glidejs/glide@3.4.1/dist/glide.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/script.js"></script>
    </body>
</html>