<div class="container">
    <p class="white-text center-align flow-text">Thank you for contacting us. You will receive a response shortly if one was requested.</p>
    <div class="row center">
        <a class="btn-large center-align" href="/">Return to Big Joe's Baseball Gloves</a>
    </div>
</div>