<div class="container">
    <p class="white-text flow-text">We sell baseball gloves on eBay. We're proud to operate one of the largest eBay stores on the planet that specializes in baseball gloves! If we don't have it, ask and we will find it!</p>
</div>