<div class="container">
    <h2 class="white-text header">Store Policies</h3>
    <p class="white-text darken-1 flow-text">Big Joe's Baseball Gloves takes pride in offering you the best customer experience possible. Here are all the policies this store operates with in one place.</p>
    <h4 class="white-text header">Returns and Refunds</h4>
    <p class="white-text darken-1 flow-text">We offer a 30 day full-refund on purchases. Buyers are permitted to purchase and return as many gloves as they like until they are fitted properly. For this reason, Buyers are required to pay shipping in both directions. Gloves that are new in condition at the time of sale must be returned in the same, new condition or else a return will be refused.</p>
    <h4 class="white-text header">Shipping</h4>
    <p class="white-text darken-1 flow-text">Buyers are responsible for shipping costs. Items are shipped within 48 hours of a cleared payment. We make every effort to ship items as quick as possible. To expedite the shipping process and prevent delays, Buyers should use PayPal.</p>
    <h4 class="white-text header">Privacy</h4>
    <p class="white-text darken-1 flow-text">Big Joe's Baseball Gloves will not share customer information with any third party. Purchases made on the eBay platform are governed by the eBay Privacy Policy.</p>
</div>