<div class="row">
    <h3 class="white-text center-align">Scrollbox Demo</h3>
    <p class="white-text center-align">This is the data being returned from the call being made to the eBay Trading API in a Stringified JSON (Pretty Print of course!)</p>
</div>
<div class="row">
    <div class="col xl10 push-xl1">
        <div class="scrollbox">
            {{data}}
        </div>
    </div>
</div>

